<settings version="2">
    <setting id="actUpdateEPG" default="true" />
    <setting id="ch_11" default="true">1</setting>
    <setting id="ch_11b">0</setting>
    <setting id="ch_11b2">0</setting>
    <setting id="ch_11c">0</setting>
    <setting id="ch_12" default="true">2</setting>
    <setting id="ch_12c">0</setting>
    <setting id="ch_13" default="true">3</setting>
    <setting id="ch_13b">0</setting>
    <setting id="ch_13c">0</setting>
    <setting id="ch_14" default="true">4</setting>
    <setting id="ch_21" default="true">5</setting>
    <setting id="ch_23" default="true">6</setting>
    <setting id="ch_23b">0</setting>
    <setting id="ch_23b2">0</setting>
    <setting id="ch_24" default="true">7</setting>
    <setting id="ch_bb" default="true">8</setting>
    <setting id="ch_bbb">0</setting>
    <setting id="ch_33" default="true">9</setting>
    <setting id="ch_33b">0</setting>
    <setting id="ch_33b2">0</setting>
    <setting id="ch_66">0</setting>
    <setting id="ch_97" default="true">11</setting>
    <setting id="ch_99" default="true">12</setting>
    <setting id="ch_ynet">0</setting>
    <setting id="ch_walla">0</setting>
    <setting id="ch_sport5" default="true">15</setting>
    <setting id="ch_100">0</setting>
    <setting id="ch_891">0</setting>
    <setting id="ch_kabru">0</setting>
    <setting id="ch_musayof">0</setting>
    <setting id="ch_11_res" default="true" />
    <setting id="ch_11c_res" default="true" />
    <setting id="ch_12_res" default="true" />
    <setting id="ch_12c_res" default="true" />
    <setting id="ch_13_res" default="true" />
    <setting id="ch_13c_res" default="true" />
    <setting id="ch_14_res" default="true" />
    <setting id="ch_21_res" default="true" />
    <setting id="ch_23_res" default="true" />
    <setting id="ch_24_res" default="true" />
    <setting id="ch_bb_res" default="true" />
    <setting id="ch_33_res" default="true" />
    <setting id="ch_66_res" default="true" />
    <setting id="ch_97_res" default="true" />
    <setting id="ch_99_res" default="true" />
    <setting id="ch_ynet_res" default="true" />
    <setting id="ch_walla_res" default="true" />
    <setting id="ch_kabru_res" default="true" />
    <setting id="rd_glglz" default="true">1</setting>
    <setting id="rd_88" default="true">2</setting>
    <setting id="rd_90" default="true">3</setting>
    <setting id="rd_91" default="true">4</setting>
    <setting id="rd_97" default="true">5</setting>
    <setting id="rd_99" default="true">6</setting>
    <setting id="rd_100" default="true">7</setting>
    <setting id="rd_101" default="true">8</setting>
    <setting id="rd_1015" default="true">9</setting>
    <setting id="rd_102" default="true">10</setting>
    <setting id="rd_102Eilat" default="true">11</setting>
    <setting id="rd_103" default="true">12</setting>
    <setting id="rd_1045" default="true">13</setting>
    <setting id="rd_1075" default="true">14</setting>
    <setting id="rd_glz" default="true">15</setting>
    <setting id="rd_bet" default="true">16</setting>
    <setting id="rd_gimel" default="true">17</setting>
    <setting id="rd_culture" default="true">18</setting>
    <setting id="rd_music" default="true">19</setting>
    <setting id="rd_moreshet" default="true">20</setting>
    <setting id="rd_kankids" default="true">21</setting>
    <setting id="rd_sport5" default="true">22</setting>
    <setting id="rd_reka" default="true">23</setting>
    <setting id="rd_891" default="true">24</setting>
    <setting id="rd_1064" default="true">25</setting>
    <setting id="rd_makan" default="true">26</setting>
    <setting id="rd_mizrahit" default="true">27</setting>
    <setting id="rd_kolhay" default="true">28</setting>
    <setting id="rd_kolhaymusic" default="true">28</setting>
    <setting id="rd_kolbarama" default="true">29</setting>
    <setting id="rd_kolplay" default="true">29</setting>
    <setting id="rd_gly" default="true">30</setting>
    <setting id="rd_ynet" default="true">31</setting>
    <setting id="useIPTV">true</setting>
    <setting id="tvShortcut" default="true">false</setting>
    <setting id="radioShortcut" default="true">false</setting>
    <setting id="useIPTVtimeshift" default="true">false</setting>
    <setting id="timeZone" default="true" />
    <setting id="actUpdateIPTV" default="true" />
    <setting id="actPVRsettings" default="true" />
    <setting id="actIPTVsettings" default="true" />
    <setting id="actSetIPTV" default="true" />
    <setting id="viewModeEpisodes" default="true">Auto</setting>
    <setting id="chColor" default="true">yellow</setting>
    <setting id="prColor" default="true">orange</setting>
    <setting id="timesColor" default="true">burlywood</setting>
    <setting id="boldLables">true</setting>
    <setting id="channelNameFormat" default="true">0</setting>
    <setting id="programNameFormat" default="true">0</setting>
    <setting id="showFavSort">true</setting>
    <setting id="favSortBy">1</setting>
    <setting id="kanSortBy" default="true">0</setting>
    <setting id="kan_res" default="true" />
    <setting id="kanPreferYoutube">true</setting>
    <setting id="kanPagesPerList">4</setting>
    <setting id="makoSortBy" default="true">0</setting>
    <setting id="mako_res" default="true" />
    <setting id="makoShowShortSubtitle">true</setting>
    <setting id="makoUsername" default="true" />
    <setting id="makoPassword" default="true" />
    <setting id="makoDeviceID" default="true" />
    <setting id="reshetSortBy" default="true">0</setting>
    <setting id="reshet_res" default="true" />
    <setting id="14tvSortBy" default="true">0</setting>
    <setting id="14tv_res" default="true" />
    <setting id="sport5SortBy" default="true">0</setting>
    <setting id="sport5_res" default="true" />
    <setting id="sport1SortBy" default="true">0</setting>
    <setting id="sport1_res" default="true" />
</settings>
