<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- Sources -->
	<category label="Sources">
		<setting label="External Scrapers" type="lsep" />
		<setting id="provider.external" label="Enable" type="bool" default="true" />
		<setting id="filter.foreign.single.audio" label="Remove identified Foreign single audio sources" type="bool" default="true" />
		<setting id="filter.undesirables" label="Remove Undesirables" type="bool" default="false" />
			<setting label="Define User Undesirables" type="action" subsetting="true" visible="eq(-1,true)" action="RunPlugin(plugin://plugin.video.pov/?mode=undesirablesInput)" />
			<setting label="Remove User Undesirables" type="action" subsetting="true" visible="eq(-2,true)" action="RunPlugin(plugin://plugin.video.pov/?mode=undesirablesUserRemove)" />
		<setting id="debug.enabled" label="Enable Debug" type="bool" default="false" />
		<setting id="debug.location" label="Logging Location" type="enum" default="0" values="Kodi Log|Addon Log" enable="eq(-1,true)" visible="eq(-1,true)" />
		<setting label="Test All Source Providers (Magneto)" type="action" action="RunPlugin(plugin://plugin.video.pov/?mode=speedTest)" />
		<setting label="Sources" type="lsep" />
		<setting id="provider.animetosho" label="animetosho" type="bool" default="false" />
		<setting id="provider.bitmagnet" label="bitmagnet" type="bool" default="false" />
		<setting id="provider.dmm" label="dmm" type="bool" default="false" />
		<setting id="provider.nyaa" label="nyaa" type="bool" default="false" />
		<setting id="provider.piratebay" label="piratebay" type="bool" default="true" />
		<setting id="provider.torrentio" label="torrentio" type="bool" default="true" />
		<setting id="provider.torrentdownload" label="torrentdownload" type="bool" default="false" />
		<setting id="provider.torrentsdb" label="torrentsdb" type="bool" default="false" />
		<setting id="provider.aiostreams" label="aiostreams" type="bool" default="false" />
			<setting id="aiostreams.url" label="aiostreams instance" type="enum" default="0" values="Kuu-lection|Midnightignite" subsetting="true" visible="eq(-1,true)" />
		<setting id="provider.comet" label="comet" type="bool" default="false" />
			<setting id="comet.url" label="comet instance" type="enum" default="0" values="Kuu-lection|Elfhosted|Midnightignite" subsetting="true" visible="eq(-1,true)" />
		<setting id="provider.mediafusion" label="mediafusion" type="bool" default="false" />
			<setting id="mediafusion.url" label="mediafusion instance" type="enum" default="0" values="Kuu-lection|Elfhosted|Midnightignite" subsetting="true" visible="eq(-1,true)" />
		<setting id="provider.torz" label="stremthru torz" type="bool" default="false" />
			<setting id="torz.url" label="torz instance" type="enum" default="0" values="Kuu-lection|Elfhosted|Midnightignite" subsetting="true" visible="eq(-1,true)" />
		<setting id="provider.zilean" label="zilean" type="bool" default="false" />
		<setting id="provider.prowlarr" label="prowlarr" type="bool" default="false" />
			<setting id="prowlarr.token" label="x-api-key" type="text" default="" subsetting="true" visible="eq(-1,true)" />
			<setting id="prowlarr.url" label="url" type="text" default="" subsetting="true" visible="eq(-2,true)" />
		<setting id="provider.library" label="library" type="bool" default="false" visible="false" />
		<!-- Folders 1-5 -->
		<setting label="Folders 1-5" type="lsep" />
		<setting id="provider.folders" label="Enable" type="bool" default="false" />
		<setting id="folders.manage" label="Manage Folder Scrapers" type="action" default="[B]Browse...[/B]" visible="eq(-1,true)" action="RunPlugin(plugin://plugin.video.pov/?mode=folder_scraper_manager_choice)" />
		<setting id="folders.title_filter" label="Filter Results by Name" type="bool" default="false" visible="eq(-2,true)" />
		<setting id="check.folders" label="Check Before Full Search" type="bool" default="false" visible="eq(-3,true)" />
		<setting id="results.sort_folders_first" label="Show Results at Top" type="bool" default="true" visible="eq(-4,true)" />
	</category>
	<!-- Provider Accounts -->
	<category label="My Services">
		<!-- Premiumize -->
		<setting label="Premiumize" type="lsep" />
		<setting id="pm.token" label="pm token" type="text" default="" visible="false" />
		<setting id="pm.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="pm.account_id" label="Customer ID" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="pm.torrent.enabled" label="Use Torrent Services" type="bool" default="true" enable="true" visible="eq(-2,true)+!eq(-3,)" />
		<setting id="pm.hoster.enabled" label="Use Hoster Services" type="bool" default="false" enable="false" visible="false" />
		<setting id="store_torrent.premiumize.me" label="Add Resolved Torrents to Cloud" type="bool" default="false" visible="eq(-4,true)+!eq(-5,)" />
		<setting id="provider.pm_cloud" label="Search PM Cloud" type="bool" default="false" visible="eq(-5,true)+!eq(-6,)" />
			<setting id="pm_cloud.title_filter" label="Filter Results by Name" type="bool" default="false" subsetting="true" visible="eq(-1,true)+eq(-6,true)+!eq(-7,)" />
			<setting id="check.pm_cloud" label="Check Before Full Search" type="bool" default="false" subsetting="true" visible="eq(-2,true)+eq(-7,true)+!eq(-8,)" />
			<setting id="results.sort_pmcloud_first" label="Show Results at Top" type="bool" default="true" subsetting="true" visible="eq(-3,true)+eq(-8,true)+!eq(-9,)" />
		<setting id="pm.priority" label="Priority (Lower Number Equals Higher Priority)" type="slider" default="8" option="int" range="1,1,10" visible="eq(-9,true)+!eq(-10,)" />
		<setting id="pm.expires" label="Premium Expires Notification (days)" type="slider" default="0" option="int" range="0,1,7" visible="eq(-10,true)+!eq(-11,)" />
		<!-- EasyDebrid -->
		<setting label="EasyDebrid" type="lsep" />
		<setting id="ed.token" label="ed token" type="text" default="" visible="false" />
		<setting id="ed.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="ed.account_id" label="Customer ID" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="ed.torrent.enabled" label="Use Torrent Services" type="bool" default="true" enable="true" visible="eq(-2,true)+!eq(-3,)" />
		<setting id="ed.priority" label="Priority (Lower Number Equals Higher Priority)" type="slider" default="9" option="int" range="1,1,10" visible="eq(-3,true)+!eq(-4,)" />
		<setting id="ed.expires" label="Premium Expires Notification (days)" type="slider" default="0" option="int" range="0,1,7" visible="eq(-4,true)+!eq(-5,)" />
		<!-- TorBox-->
		<setting label="TorBox" type="lsep" />
		<setting id="tb.token" label="tb token" type="text" default="" visible="false" />
		<setting id="tb.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="tb.account_id" label="Customer ID" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="tb.torrent.enabled" label="Use Torrent Services" type="bool" default="true" enable="true" visible="eq(-2,true)+!eq(-3,)" />
		<setting id="store_torrent.torbox" label="Add Resolved Torrents to Cloud" type="bool" default="false" visible="eq(-3,true)+!eq(-4,)" />
		<setting id="provider.torboxnews" label="Use Usenet Services" type="bool" default="false" visible="eq(-2,true)+eq(-4,true)+!eq(-5,)" />
		<setting id="store_usenet.torbox" label="Add Resolved Usenet to Cloud" type="bool" default="false" visible="eq(-3,true)+eq(-5,true)+!eq(-6,)" />
		<setting id="tb.user_engines_only" label="Filter User Search Services Only" type="bool" default="false" visible="eq(-4,true)+eq(-6,true)+!eq(-7,)" />
		<setting id="provider.tb_cloud" label="Search TB Cloud" type="bool" default="false" visible="eq(-7,true)+!eq(-8,)" />
			<setting id="tb_cloud.title_filter" label="Filter Results by Name" type="bool" default="false" subsetting="true" visible="eq(-1,true)+eq(-8,true)+!eq(-9,)" />
			<setting id="check.tb_cloud" label="Check Before Full Search" type="bool" default="false" subsetting="true" visible="eq(-2,true)+eq(-9,true)+!eq(-10,)" />
			<setting id="results.sort_tbcloud_first" label="Show Results at Top" type="bool" default="true" subsetting="true" visible="eq(-3,true)+eq(-10,true)+!eq(-11,)" />
		<setting id="tb.sort" label="TorBox Usenet Search Sort" type="enum" default="0" values="Age|Size|Tracker" visible="eq(-11,true)+!eq(-12,)" />
		<setting id="tb.priority" label="Priority (Lower Number Equals Higher Priority)" type="slider" default="9" option="int" range="1,1,10" visible="eq(-12,true)+!eq(-13,)" />
		<setting id="tb.expires" label="Premium Expires Notification (days)" type="slider" default="0" option="int" range="0,1,7" visible="eq(-13,true)+!eq(-14,)" />
		<!-- Offcloud -->
		<setting label="Offcloud" type="lsep" />
		<setting id="oc.token" label="oc token" type="text" default="" visible="false" />
		<setting id="oc.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="oc.account_id" label="Customer ID" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="oc.torrent.enabled" label="Use Torrent Services" type="bool" default="true" enable="true" visible="eq(-2,true)+!eq(-3,)" />
		<setting id="provider.oc_cloud" label="Search OC Cloud" type="bool" default="false" visible="eq(-3,true)+!eq(-4,)" />
			<setting id="oc_cloud.title_filter" label="Filter Results by Name" type="bool" default="false" subsetting="true" visible="eq(-1,true)+eq(-4,true)+!eq(-5,)" />
			<setting id="check.oc_cloud" label="Check Before Full Search" type="bool" default="false" subsetting="true" visible="eq(-2,true)+eq(-5,true)+!eq(-6,)" />
			<setting id="results.sort_occloud_first" label="Show Results at Top" type="bool" default="true" subsetting="true" visible="eq(-3,true)+eq(-6,true)+!eq(-7,)" />
		<setting id="oc.priority" label="Priority (Lower Number Equals Higher Priority)" type="slider" default="9" option="int" range="1,1,10" visible="eq(-7,true)+!eq(-8,)" />
	</category>
	<category label="My Services">
		<!-- Real Debrid -->
		<setting label="Real Debrid" type="lsep" />
		<setting id="rd.client_id" type="text" default="" visible="false" />
		<setting id="rd.secret" type="text" default="" visible="false" />
		<setting id="rd.refresh" type="text" default="" visible="false" />
		<setting id="rd.token" label="rd token" type="text" default="" visible="false" />
		<setting id="rd.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="rd.username" label="Username" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="rd.torrent.enabled" label="Use Torrent Services" type="bool" default="true" enable="true" visible="eq(-2,true)+!eq(-3,)" />
		<setting id="rd.hoster.enabled" label="Use Hoster Services" type="bool" default="false" enable="false" visible="false" />
		<setting id="store_torrent.real-debrid" label="Add Resolved Torrents to Cloud" type="bool" default="false" visible="eq(-4,true)+!eq(-5,)" />
		<setting id="provider.rd_cloud" label="Search RD Cloud" type="bool" default="false" visible="eq(-5,true)+!eq(-6,)" />
			<setting id="rd_cloud.title_filter" label="Filter Results by Name" type="bool" default="false" subsetting="true" visible="eq(-1,true)+eq(-6,true)+!eq(-7,)" />
			<setting id="check.rd_cloud" label="Check Before Full Search" type="bool" default="false" subsetting="true" visible="eq(-2,true)+eq(-7,true)+!eq(-8,)" />
			<setting id="results.sort_rdcloud_first" label="Show Results at Top" type="bool" default="true" subsetting="true" visible="eq(-3,true)+eq(-8,true)+!eq(-9,)" />
		<setting id="rd.priority" label="Priority (Lower Number Equals Higher Priority)" type="slider" default="10" option="int" range="1,1,10" visible="eq(-9,true)+!eq(-10,)" />
		<setting id="rd.expires" label="Premium Expires Notification (days)" type="slider" default="0" option="int" range="0,1,7" visible="eq(-10,true)+!eq(-11,)" />
		<!-- All Debrid -->
		<setting label="All Debrid" type="lsep" />
		<setting id="ad.token" label="ad token" type="text" default="" visible="false" />
		<setting id="ad.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="ad.account_id" label="Username" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="ad.torrent.enabled" label="Use Torrent Services" type="bool" default="true" enable="true" visible="eq(-2,true)+!eq(-3,)" />
		<setting id="ad.hoster.enabled" label="Use Hoster Services" type="bool" default="false" enable="false" visible="false" />
		<setting id="store_torrent.alldebrid" label="Add Resolved Torrents to Cloud" type="bool" default="false" visible="eq(-4,true)+!eq(-5,)" />
		<setting id="provider.ad_cloud" label="Search AD Cloud" type="bool" default="false" visible="eq(-5,true)+!eq(-6,)" />
			<setting id="ad_cloud.title_filter" label="Filter Results by Name" type="bool" default="false" subsetting="true" visible="eq(-1,true)+eq(-6,true)+!eq(-7,)" />
			<setting id="check.ad_cloud" label="Check Before Full Search" type="bool" default="false" subsetting="true" visible="eq(-2,true)+eq(-7,true)+!eq(-8,)" />
			<setting id="results.sort_adcloud_first" label="Show Results at Top" type="bool" default="true" subsetting="true" visible="eq(-3,true)+eq(-8,true)+!eq(-9,)" />
		<setting id="ad.priority" label="Priority (Lower Number Equals Higher Priority)" type="slider" default="9" option="int" range="1,1,10" visible="eq(-9,true)+!eq(-10,)" />
		<setting id="ad.expires" label="Premium Expires Notification (days)" type="slider" default="0" option="int" range="0,1,7" visible="eq(-10,true)+!eq(-11,)" />
		<!-- Easynews -->
		<setting label="Easynews" type="lsep" />
		<setting id="provider.easynews" label="Enable" type="bool" default="false" visible="!eq(1,)+!eq(2,)" />
		<setting id="easynews_user" label="Username" type="text" default="" enable="false" visible="eq(-1,true)+!eq(1,)" />
		<setting id="easynews_password" label="Password" type="text" default="" enable="false" visible="false" />
		<setting id="easynews.title_filter" label="Filter Results by Name" type="bool" default="false" visible="eq(-3,true)+!eq(-1,)" />
		<setting id="easynews.filter_lang" label="Filter Languages" type="bool" default="false" visible="eq(-4,true)+!eq(-2,)" />
			<setting id="easynews.lang_filters" label="Choose Languages To Include" type="action" default="eng" subsetting="true" visible="eq(-5,true)+!eq(-3,)+eq(-1,true)" action="RunPlugin(plugin://plugin.video.pov/?mode=set_language_filter_choice&amp;filter_setting=easynews.lang_filters)" />
		<setting id="easynews_moderation" label="Exclude Adult Results" type="bool" default="true" visible="eq(-6,true)+!eq(-4,)" />
		<setting id="check.easynews" label="Check Before Full Search" type="bool" default="false" visible="eq(-7,true)+!eq(-5,)" />
		<setting id="en.priority" label="Priority (Lower Number Equals Higher Priority)" type="slider" default="7" option="int" range="1,1,10" visible="eq(-8,true)+!eq(-6,)" />
		<!--setting id="easynews.api_version" label="API Version" type="enum" default="0" values="Version 2|Version 3" visible="!eq(-2,)" /-->
	</category>
	<!-- My Lists -->
	<category label="My Lists">
		<!-- Trakt Calendar -->
		<setting label="Trakt Calendar" type="lsep" />
		<setting id="trakt.calendar_focus_today" label="Set Focus to Today's Date" type="bool" default="true" />
		<setting id="trakt.calendar_sort_order" label="Sort Order" type="enum" default="0" values="Descending|Ascending" />
		<setting id="trakt.calendar_previous_days" label="Show Previous Days" type="number" default="7" />
		<setting id="trakt.calendar_future_days" label="Show Future Days" type="number" default="7" />
		<!-- Trakt Cache -->
		<setting label="Trakt/MDBList Cache" type="lsep" />
		<setting id="trakt.sync_interval" label="Refresh Data from Server every...(mins)" type="slider" default="30" option="int" range="5,5,480" />
		<setting id="trakt.sync_refresh_widgets" label="Attempt to Refresh Widgets After Refresh" type="bool" default="false" />
		<!-- Trakt -->
		<setting label="Trakt" type="lsep" />
		<setting id="trakt.refresh" type="text" default="" visible="false" />
		<setting id="trakt.expires" type="text" default="" visible="false" />
		<setting id="trakt.token" type="text" default="" visible="false" />
		<setting id="trakt_user" label="Username" type="text" default="" enable="false" />
		<!-- MDBList -->
		<setting label="MDBList" type="lsep" />
		<setting id="mdblist.token" label="API Key" type="text" default="" visible="false" />
		<setting id="mdblist_user" label="Username" type="text" default="" enable="false" />
		<!-- TMDB -->
		<setting label="TMDB Lists" type="lsep" />
		<setting id="tmdb.session_id" type="text" default="" visible="false" />
		<setting id="tmdb.session_account_id" type="text" default="" visible="false" />
		<setting id="tmdb.username" label="Username" type="text" default="" enable="false" />
		<setting id="tmdb.token" type="text" default="" visible="false" />
		<setting id="tmdb.account_id" label="User" type="text" default="" enable="false" visible="false"/>
		<setting id="tmdblist.sort_name" label="Sort List Names Type" type="enum" default="0" values="Title|Number of Items|Recently Updated" visible="!eq(-2,)" />
		<setting id="tmdblist.watchlist_sync" label="Purge Watchlist on Trakt Refresh" type="bool" default="false" visible="!eq(-3,)" />
		<!-- IMDb -->
		<setting label="IMDb" type="lsep" />
		<setting id="imdb_user" label="User" type="text" default="" enable="true" />
		<setting id="imdb_lists.sort_type" label="Sort Type" type="enum" default="0" values="List Default|Alphabetical|IMDb Rating|Popularity|Your Rating|Number Of Ratings|Release Date|Runtime|Date Added" visible="!eq(-1,)" />
		<setting id="imdb_lists.sort_direction" label="Sort Order" type="enum" default="0" values="Ascending|Descending" visible="!eq(-2,)" />
	</category>
	<!-- General -->
	<category label="General">
		<!-- General -->
		<setting label="General" type="lsep" />
		<setting id="fanart_image" label="Fanart Image" type="image" default="pov_fanart.png" />
		<setting id="auto_start_pov" label="Auto Start POV when Kodi Starts" type="bool" default="false" />
		<setting id="widget_hide_watched" label="Hide Watched Items in Widgets" type="bool" default="false" />
		<setting id="kodi_menu_cache" label="Enable Kodi Menu Caching" type="bool" default="true" />
		<setting id="rli_fix" label="Enable Reuse Language Invoker Fix" type="bool" default="false" />
		<setting id="pov.max_threads" label="Maximum threads" type="slider" default="100" range="20,10,100" option="int" />
		<!-- Downloads -->
		<setting label="Downloads" type="lsep" />
		<setting id="movie_download_directory" label="Movies Directory" type="folder" default="special://profile/addon_data/plugin.video.pov/Movies Downloads/" />
		<setting id="tvshow_download_directory" label="TV Shows Directory" type="folder" default="special://profile/addon_data/plugin.video.pov/TV Show Downloads/" />
		<setting id="premium_download_directory" label="Premium Files Directory" type="folder" default="special://profile/addon_data/plugin.video.pov/Premium Downloads/" />
		<setting id="image_download_directory" label="Image Files Directory" type="folder" default="special://profile/addon_data/plugin.video.pov/Image Downloads/" />
		<!-- UTC Time Offset -->
		<setting label="UTC Time Offset" type="lsep" />
		<setting id="datetime.offset" label="UTC (+/-)" type="slider" default="0" option="int" range="-15,1,15" />
		<!-- Hidden -->
		<setting id="database.maintenance.due" type="text" default="0" visible="false" />
		<setting id="reuse_language_invoker" type="text" default="true" visible="false" />
		<setting id="folder1.display_name" type="text" default="Folder 1" visible="false" />
		<setting id="folder1.movies_directory" type="text" default="None" visible="false" />
		<setting id="folder1.tv_shows_directory" type="text" default="None" visible="false" />
		<setting id="folder2.display_name" type="text" default="Folder 2" visible="false" />
		<setting id="folder2.movies_directory" type="text" default="None" visible="false" />
		<setting id="folder2.tv_shows_directory" type="text" default="None" visible="false" />
		<setting id="folder3.display_name" type="text" default="Folder 3" visible="false" />
		<setting id="folder3.movies_directory" type="text" default="None" visible="false" />
		<setting id="folder3.tv_shows_directory" type="text" default="None" visible="false" />
		<setting id="folder4.display_name" type="text" default="Folder 4" visible="false" />
		<setting id="folder4.movies_directory" type="text" default="None" visible="false" />
		<setting id="folder4.tv_shows_directory" type="text" default="None" visible="false" />
		<setting id="folder5.display_name" type="text" default="Folder 5" visible="false" />
		<setting id="folder5.movies_directory" type="text" default="None" visible="false" />
		<setting id="folder5.tv_shows_directory" type="text" default="None" visible="false" />
	</category>
	<!-- Next Episodes -->
	<category label="Features">
		<!-- Watched Indicators -->
		<setting label="Watched Indicators" type="lsep" />
		<setting id="trakt_indicators_active" label="trakt_indicators_active" type="text" default="false" visible="false" />
		<setting id="mdbl_indicators_active" label="mdbl_indicators_active" type="text" default="false" visible="false" />
		<setting id="watched_indicators" label="Watched Status Provider" type="enum" default="0" values="POV|Trakt|MDBList" visible="eq(-2,true)|eq(-1,true)" />
		<setting id="amble.indicators" label="Authorize Trakt or MDBList for More options" type="text" enable="false" visible="eq(-2,false)" />
		<setting id="sync_kodi_library_watchstatus" label="Set Watched in Kodi Library when Watched in POV" type="bool" default="false" />
		<!-- Content and Sorting -->
		<setting label="Next Episodes" type="lsep" />
		<setting id="nextep.sort_type" label="Sort Type" type="enum" default="0" values="Recently Watched|Airdate|Title" />
		<setting id="nextep.sort_order" label="Sort Order" type="enum" default="0" values="Descending|Ascending" />
		<setting id="nextep.sort_airing_today_to_top" label="Sort Episodes Airing Today to Top" type="bool" default="false" />
		<setting id="nextep.include_airdate" label="Include Airdate in Title" type="bool" default="true" />
		<setting id="nextep.include_unaired" label="Include Unaired Episodes" type="bool" default="true" />
		<!--setting id="nextep.include_unwatched" label="Include Trakt Watchlist" type="bool" default="false" /-->
		<!-- Extras -->
		<setting label="Extras" type="lsep" />
		<setting id="extras.enabled_menus" type="text" default="2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062" visible="false" />
		<setting id="extras.open_action" label="Open POV Extras When Selecting..." type="enum" default="0" values="None|Movies|TV Shows|Both" />
		<setting id="extras.manage" label="Enable Content for Extras Lists" type="action" default="[B]Browse...[/B]" action="RunPlugin(plugin://plugin.video.pov/?mode=extras_lists_choice)" />
		<setting id="extras.enable_scrollbars" label="Enable Scrollbars for Extras Lists" type="bool" default="false" />
		<setting id="extras.exclude_non_acting_roles" label="Exclude Non Acting Roles in Person Results" type="bool" default="true" />
	</category>
	<!-- Navigation -->
	<category label="Navigation">
		<!-- Content -->
		<setting label="Content" type="lsep" />
		<setting id="include_year_in_title" label="Show Release Year in Listings" type="enum" default="0" values="Off|Movies|TV Shows|Both" />
		<setting id="default_all_episodes" label="Flatten TV Show Seasons" type="enum" default="1" values="Never|If Only One Season|Always" />
		<setting id="single_ep_display" label="Single Episode Lists Title Format" type="enum" default="0" values="TITLE: SxE - EPISODE|SxE - EPISODE|EPISODE" />
		<setting id="single_ep_format" label="Single Episode Airdate Format" type="enum" default="2" values="Day-Month-Year|Year-Month-Day|Month-Day-Year" />
		<setting id="paginate.lists" label="Paginate Lists When Possible" type="bool" default="true" />
			<setting id="page_limit" label="Max. Lists items" type="number" default="100" subsetting="true" visible="eq(-1,true)" />
			<setting id="nav_jump" label="Jump To... List Navigation" type="enum" default="0" values="Disable|Page|Alphabet" subsetting="true" visible="eq(-2,true)" />
		<setting id="show_specials" label="Show TV Show Specials When Available" type="bool" default="false" />
		<setting id="use_season_title" label="Use Season Titles When Available" type="bool" default="false" />
		<setting id="show_unaired" label="Include Unaired Episodes" type="bool" default="true" />
		<setting id="thumb_fanart" label="Use Episode Thumbnails For Background When Available" type="bool" default="false" />
		<setting id="show_unaired_watchlist" label="Include Unaired Items in Watchlists" type="bool" default="true" />
		<!-- Sorting -->
		<setting label="Sorting" type="lsep" />
		<setting id="sort.progress" label="In Progress Sort Type" type="enum" default="0" values="Title|Recently Watched" />
		<setting id="sort.watched" label="Watched Sort Type" type="enum" default="0" values="Title|Recently Watched" />
		<setting id="sort.collection" label="Collection Sort Type" type="enum" default="0" values="Title|Date Added|Release Date" />
		<setting id="sort.watchlist" label="Watchlist Sort Type" type="enum" default="0" values="Title|Date Added|Release Date" />
		<setting id="sort.mdblist" label="MDBList Sort Type" type="enum" default="0" values="Title|Date Added|Release Date|Random|List Default" />
		<setting id="ignore_articles" label="Ignore Articles When Sorting Lists" type="bool" default="true" />
		<!-- Context Menu -->
		<setting label="Context Menu Sorting" type="lsep" />
		<setting id="context.options" label="Options..." type="slider" default="1" range="0,1,7" option="int" />
		<setting id="context.extras" label="Extras.../Playback.../Browse..." type="slider" default="2" range="0,1,7" option="int" />
		<setting id="context.trakt" label="Trakt Lists Manager" type="slider" default="3" range="0,1,7" option="int" />
		<setting id="context.mdblist" label="MDBList Manager" type="slider" default="4" range="0,1,7" option="int" />
		<setting id="context.tmdblist" label="TMDB Lists Manager" type="slider" default="4" range="0,1,7" option="int" />
		<setting id="context.favourites" label="Favorites Manager" type="slider" default="5" range="0,1,7" option="int" />
		<setting id="context.mark" label="Mark Watched/Unwatched" type="slider" default="6" range="0,1,7" option="int" />
		<setting id="context.exit" label="Exit List" type="slider" default="7" range="0,1,7" option="int" />
	</category>
	<!-- Playback -->
	<category label="Playback">
		<!-- Playback -->
		<setting label="Movies" type="lsep" />
		<setting id="auto_play_movie" label="Auto Play" type="bool" default="false" />
		<setting id="autoplay_quality_movie" label="Limit Auto Play Quality" type="action" default="SD, 720p, 1080p, 4K" visible="eq(-1,true)" action="RunPlugin(plugin://plugin.video.pov/?mode=set_quality_choice&amp;quality_setting=autoplay_quality_movie)" />
		<setting id="results_quality_movie" label="Limit Quality" type="action" default="SD, 720p, 1080p, 4K" visible="eq(-2,false)" action="RunPlugin(plugin://plugin.video.pov/?mode=set_quality_choice&amp;quality_setting=results_quality_movie)" />
		<setting id="auto_resume_movie" label="Automatically Resume Playback" type="enum" default="0" values="Never|Always|Autoplay Only" />
		<setting id="stingers.enable" label="Enable Credit Scene Notification (Movie Stingers)" type="bool" default="false" />
			<setting id="stingers.threshold" label="Notification Threshold (Seconds After Start)" type="slider" default="10" option="int" range="10,10,60" subsetting="true" visible="eq(-1,true)" />
		<setting label="Episodes" type="lsep" />
		<setting id="autoscrape_next_episode" label="Autoscrape Next Episode (source select)" type="bool" default="false" />
			<setting id="autoscrape_next_window_time" label="Show Notification Before End (secs)" type="slider" default="20" option="int" range="10,10,120" subsetting="true" visible="eq(-1,true)" />
		<setting id="auto_play_episode" label="Auto Play" type="bool" default="false" />
			<setting id="autoplay_exclude_premieres" label="Exclude Completed Season Premieres" type="bool" default="false" subsetting="true" visible="eq(-1,true)" />
		<setting id="autoplay_quality_episode" label="Limit Auto Play Quality" type="action" default="SD, 720p, 1080p, 4K" visible="eq(-2,true)" action="RunPlugin(plugin://plugin.video.pov/?mode=set_quality_choice&amp;quality_setting=autoplay_quality_episode)" />
		<setting id="autoplay_next_episode" label="Autoplay Next Episode" type="bool" default="false" visible="eq(-3,true)" />
			<setting id="autoplay_next_show_window" label="Show Next Episode Window" type="bool" default="true" subsetting="true" visible="eq(-4,true)+eq(-1,true)" />
			<setting id="autoplay_next_window_timer_method" label="Show Window Based On" type="enum" default="0" values="Time Remaining|Percentage Played" subsetting="true" visible="eq(-5,true)+eq(-2,true)+eq(-1,true)" />
			<setting id="autoplay_next_window_time" label="Show Window Before End (secs)" type="slider" default="20" option="int" range="10,10,120" subsetting="true" visible="eq(-6,true)+eq(-3,true)+eq(-2,true)+eq(-1,0)" />
			<setting id="autoplay_next_window_percentage" label="Show Window Before End (%)" type="slider" default="95" option="int" range="75,1,99" subsetting="true" visible="eq(-7,true)+eq(-4,true)+eq(-3,true)+eq(-2,1)" />
			<setting id="autoplay_next_check_threshold" label="Episodes Watched Before Still Watching Check (0=Off)" type="slider" default="3" option="int" range="0,1,10" subsetting="true" visible="eq(-8,true)+eq(-5,true)" />
		<setting id="results_quality_episode" label="Limit Quality" type="action" default="SD, 720p, 1080p, 4K" visible="eq(-9,false)" action="RunPlugin(plugin://plugin.video.pov/?mode=set_quality_choice&amp;quality_setting=results_quality_episode)" />
		<setting id="auto_resume_episode" label="Automatically Resume Playback" type="enum" default="0" values="Never|Always|Autoplay Only" />
		<!-- Playback Volume -->
		<setting label="Playback" type="lsep" />
		<setting id="load_action" label="Loading Progress" type="enum" default="1" values="Background|Full-Screen" />
		<setting id="volumecheck.enabled" label="Check Playback Volume Before Start of Playback" type="bool" default="false" />
			<setting id="volumecheck.percent" label="Set Max. Percent Starting Volume (0-100)" type="number" default="50" subsetting="true" visible="eq(-1,true)" />
		<!-- Subtitles -->
		<setting label="Subtitles" type="lsep" />
		<setting id="subtitles.subs_action" label="Download Subtitles Action" type="enum" default="2" values="Auto|Select|Off" />
			<setting id="subtitles.language" label="Subtitle Language" type="select" default="English" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu|Vietnamese" subsetting="true" visible="!eq(-1,2)" />
			<setting id="subtitles.auto_enable" label="Force Enable Local Subs" type="bool" default="true" subsetting="true" visible="!eq(-2,2)" />
	</category>
	<!-- Results -->
	<category label="Results">
		<!-- Display -->
		<setting label="Display" type="lsep" />
		<setting id="results.sort_order" type="text" default="0" visible="false" />
		<setting id="results.xml_style" label="Results Display" type="action" default="List Default" action="RunPlugin(plugin://plugin.video.pov/?mode=results_layout_choice)" />
		<setting id="torrent.display.uncached" label="Display Uncached Torrents" type="bool" default="false" />
		<setting id="search.enable.yearcheck" label="Check Year Before Search" type="bool" default="false" />
		<setting id="ignore_results_filter" label="Ignore All Filters When No Results Available" type="bool" default="true" />
		<setting id="search.finish.early" label="Stop Search Early if Most Sources Finished" type="bool" default="false" />
		<setting id="scrapers.timeout.1" label="Scraper Timeout" type="number" default="10" />
		<!-- Language -->
		<setting label="Language" type="lsep" />
		<setting id="results.language_filter" label="Sort Priority Language to Top" type="bool" default="false" />
			<setting id="results.language" label="Priority Language" type="select" default="English" values="English|Arabic|Bulgarian|Chinese|Croatian|Czech|Danish|Dutch|Estonian|Finnish|French|German|Greek|Hebrew|Hindi|Hungarian|Indonesian|Italian|Japanese|Korean|Latvian|Lithuanian|Malay|Norwegian|Persian|Polish|Portuguese|Romanian|Russian|Serbian|Slovakian|Slovenian|Spanish|Swedish|Taiwanese|Tamil|Telugu|Thai|Turkish|Ukrainian|Vietnamese" subsetting="true" enable="eq(-1,true)" />
		<!-- Sorting and Filtering -->
		<setting label="Sorting and Filtering" type="lsep" />
		<setting id="results.sort_order_display" label="Results Sorting" type="action" default="Quality, Provider, Size" action="RunPlugin(plugin://plugin.video.pov/?mode=results_sorting_choice)" />
		<setting id="results.sort_size" label="Size Sort Order" type="enum" default="0" values="Descending|Ascending" />
		<setting id="results.size_filter" label="Filter Results by Size" type="enum" default="0" values="Never|Download Speed|File Size" />
			<setting id="results.size.speed" label="Internet Speed (Mbit/s)" type="number" default="20" subsetting="true" visible="eq(-1,1)" />
			<setting id="results.size.file" label="File Size (MB)" type="number" default="10000" subsetting="true" visible="eq(-2,2)" />
		<setting id="results.include.unknown.size" label="Include Results With Unknown Size" type="bool" default="true" />
		<setting id="include_prerelease_results" label="Include Pre-Release Results (CAM/SCR/TELE)" type="bool" default="false" />
		<setting id="include_3d_results" label="Include 3D Results" type="bool" default="false" />
		<setting id="filter_hevc" label="HEVC Files Filter" type="enum" default="0" values="Include|Exclude|Prefer (Autoplay)|Sort to Top" />
		<setting id="filter_hdr" label="HDR Files Filter" type="enum" default="0" values="Include|Exclude|Prefer (Autoplay)|Sort to Top" />
		<setting id="filter_dv" label="Dolby Vision Files Filter" type="enum" default="0" values="Include|Exclude|Prefer (Autoplay)|Sort to Top" />
		<setting id="filter_av1" label="AV1 Files Filter" type="enum" default="0" values="Include|Exclude|Prefer (Autoplay)|Sort to Top" />
		<!-- Results Color Highlights -->
		<setting label="Results Color Highlights" type="lsep" />
		<setting id="highlight.type" label="Highlight Results Based On" type="enum" default="2" values="Scraper Type|Provider|Quality" />
			<setting id="hoster.identify" label="Hosters Color" type="action" default="dodgerblue" subsetting="true" visible="eq(-1,0)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=hoster)" />
			<setting id="torrent.identify" label="Torrents Color" type="action" default="fuchsia" subsetting="true" visible="eq(-2,0)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=torrent)" />
			<setting id="provider.rd_colour" label="Real Debrid Color" type="action" default="seagreen" subsetting="true" visible="eq(-3,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=rd)" />
			<setting id="provider.pm_colour" label="Premiumize Color" type="action" default="orangered" subsetting="true" visible="eq(-4,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=pm)" />
			<setting id="provider.ad_colour" label="All Debrid Color" type="action" default="goldenrod" subsetting="true" visible="eq(-5,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=ad)" />
			<setting id="provider.tb_colour" label="TorBox Color" type="action" default="darkseagreen" subsetting="true" visible="eq(-6,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=tb)" />
			<setting id="provider.oc_colour" label="Offcloud Color" type="action" default="dodgerblue" subsetting="true" visible="eq(-7,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=oc)" />
			<setting id="provider.ed_colour" label="EasyDebrid Color" type="action" default="cornflowerblue" subsetting="true" visible="eq(-8,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=ed)" />
			<setting id="provider.easynews_colour" label="Easynews Color" type="action" default="darkturquoise" subsetting="true" visible="eq(-9,0)|eq(-9,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=easynews)" />
			<setting id="provider.debrid_cloud_colour" label="Debrid Cloud Color" type="action" default="darkviolet" subsetting="true" visible="eq(-10,0)|eq(-10,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=debrid_cloud)" />
			<setting id="provider.folders_colour" label="Folders 1-5 Color" type="action" default="darkgoldenrod" subsetting="true" visible="eq(-11,0)|eq(-11,1)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_color_choice&amp;setting=folders)" />
			<setting id="scraper_4k_highlight" label="4K Results Color" type="action" default="magenta" subsetting="true" visible="eq(-12,2)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_quality_color_choice&amp;setting=scraper_4k_highlight)" />
			<setting id="scraper_1080p_highlight" label="1080P Results Color" type="action" default="cyan" subsetting="true" visible="eq(-13,2)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_quality_color_choice&amp;setting=scraper_1080p_highlight)" />
			<setting id="scraper_720p_highlight" label="720P Results Color" type="action" default="mediumorchid" subsetting="true" visible="eq(-14,2)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_quality_color_choice&amp;setting=scraper_720p_highlight)" />
			<setting id="scraper_SD_highlight" label="SD Results Color" type="action" default="dodgerblue" subsetting="true" visible="eq(-15,2)" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_quality_color_choice&amp;setting=scraper_SD_highlight)" />
		<!-- Progress Color Highlights -->
		<setting label="Progress Color Highlights" type="lsep" />
		<setting id="int_dialog_highlight" label="Internal Scrapers Color" type="action" default="magenta" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_dialog_color_choice&amp;setting=internal)" />
		<setting id="ext_dialog_highlight" label="External Scrapers Color" type="action" default="cyan" action="RunPlugin(plugin://plugin.video.pov/?mode=scraper_dialog_color_choice&amp;setting=external)" />
	</category>
	<!-- Metadata -->
	<category label="Metadata">
		<!-- Language -->
		<setting label="Language" type="lsep" />
		<setting id="meta_language_display" label="Set Language" type="action" default="English" action="RunPlugin(plugin://plugin.video.pov/?mode=meta_language_choice)" />
		<setting id="meta_language" label="meta_language" type="text" default="en" visible="false" />
		<!-- RPDB -->
		<setting label="Rating Poster Database" type="lsep" />
		<setting id="rpdb_api_key" label="API Key" type="text" default="" />
			<setting id="get_rpdb_data" label="Use Poster At Movie Level" type="bool" default="false" subsetting="true" enable="!eq(-1,)" />
			<setting id="get_rpdb_data_series" label="Use Poster At TV Show Level" type="bool" default="false" subsetting="true" enable="!eq(-2,)" />
		<!-- Fanart -->
		<setting label="Extra Art (Powered by Fanart.tv)" type="lsep" />
		<setting id="get_fanart_data" label="Include Extra Art" type="bool" default="false" />
			<setting id="fanarttv.default" label="Use as Default Provider (Slow)" type="bool" default="false" subsetting="true" visible="eq(-1,true)" />
		<!-- Fanart.tv -->
		<setting label="Fanart.tv" type="lsep" />
		<setting id="fanart_amble1" label="Become a VIP member at fanart.tv for many benefits" type="text" enable="false" />
		<setting id="fanart_client_key" label="API Key (optional)" type="text" default="fe073550acf157bdb8a4217f215c0882" enable="true" option="hidden" />
		<!-- TMDb -->
		<setting label="TMDb" type="lsep" />
		<setting id="image_resolutions" label="TMDb Image Resolution" type="enum" default="2" values="Low|Medium|High|Original" />
		<setting id="tmdb_api" label="API Key (optional)" type="text" default="d848316a33e79095beb945a2bd2d53b1" enable="true" option="hidden" />
		<setting id="tmdb_read_token" label="key" type="text" default="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkODQ4MzE2YTMzZTc5MDk1YmViOTQ1YTJiZDJkNTNiMSIsIm5iZiI6MTcxMTQ3Mzg1NC45MzQsInN1YiI6IjY2MDMwNGJlYjAyZjVlMDE3ZDIxNDAzZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._uRCLIwLIE2gOlH8q04gcM3ywIXpxuZ-uyel-UMRRg4" enable="true" option="hidden" visible="false" />
		<!-- Trakt -->
		<setting id="trakt.client_id" type="text" default="6bc29124c3d9466e06a3ed19a7b5976fcb28311008401e1ce04cf08196f8b16a" visible="false" />
		<setting id="trakt.client_secret" type="text" default="99478842b17d44d7accafef45c6c1bbba235792753c195069ae149595cd3a919" visible="false" />
	</category>
</settings>

