<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="חשבונות">

		<setting label="פרטי התחברות ל-Opensubtitle (לא באמת נחוץ)." type="lsep"/>
		<setting id="OSuser2" type="text" label="שם משתמש ב-Opensubtitles" default=""/>
		<setting id="OSpass2" type="text" option = "hidden" label="סיסמה ב-Opensubtitle" default=""/>
		<setting id="get_subs" type="text" option = "hidden" label="סיסמה ב-Opensubtitle" default="" visible="false" />
	</category>
	<category label="מקורות">
		<setting label="היכן לחפש" type="lsep"/>
		
		<setting id="wizdom" label="Wizdom [COLOR blue](http://wizdom.xyz)[/COLOR]" type="bool" default="true" />
		<setting id="ktuvit" label="Ktuvit [COLOR blue](https://www.ktuvit.me/)[/COLOR]" type="bool" default="true" />
		<setting id="subscene" label="Subscene [COLOR blue](https://subscene.com/)[/COLOR]" type="bool" default="true" />
		
		<setting id="opensubtitles" label="OpenSubtitles [COLOR blue](http://www.opensubtitles.org)[/COLOR]" type="bool" default="true" />
		<setting id="bsplayer" label="BSPlayer [COLOR blue](http://bsplayer-subtitles.com)[/COLOR]" type="bool" default="true" />

	</category>
	<category label="שפות">
		
		<setting id="English" label="אנגלית" type="bool" default="true" />
		<setting id="arab" label="ערבית" type="bool" default="false" />
		<setting id="spanish" label="ספרדית" type="bool" default="false" />
		<setting label="שפות נוספות" type="lsep"/>
		<setting id="other_lang" label="שפות נוספות" type="text" default="" />
		<setting label="הוסף שפות עם פסיק בניהם לפי תקן " type="lsep"/>
		<setting label="https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes" type="lsep"/>
		<setting id="all_lang" label="חפש בכל השפות" type="bool" default="false" />

		
		<setting label="תרגום מכונה" type="lsep"/>
		<setting id="auto_translate" label="תירגום מכונה אוטומטי ?" type="bool" default="true" />
		<setting id="translate_p" type="enum" label="מתרגם אוטומטי" values="Google|Yandex|Bing" default="0" visible= "eq(-1,true)" enable="eq(-1,true)"/>
		<setting id="subtitle_trans_cache"  type="number"  label="מספר כתובית מקסימלי בקאש" visible="true" default="15"/>
	</category>
    <category label="הגדרות כלליות">

		<setting id="time_s"  type="number"  label="זמן חיפוש מקסימלי" visible="true" default="15"/>
		<setting tfype="sep"/>

		<setting id="force" label="הורד למרות שיש כתוביות" type="bool" default="true" />
		<setting type="sep"/>
		
		<setting label="הורדת כתוביות אוטומטית" type="lsep"/>
		<setting id="autosub" label="אפשר הורדת כתוביות אוטומטית" type="bool" default="true" />
		<setting id="use_video_tagline_only_for_sort_subtitles" label="התאמה לפי אחוזים מTagLine בלבד" type="bool" default="false" />
		<setting id="pause" label="השהה ווידאו בזמן חיפוש כתוביות" type="bool" default="false" />
		<setting id="ExcludeTime" type="number" label="אל תוריד לסרטון קצר מ-" default="1"/> 
		
		<setting label="('idanplus','sdarot.tv','youtube','kids_new' Excluded)" type="lsep"/>
		<setting label="אל תכלול הרחבה פסיק בניהם" type="lsep"/>
		
        <setting id="ExcludeAddos" type="text" source="video" label="אל תכלול הרחבות" default="" />


		<setting id="Debug" label="Debug" type="bool" default="false" />
		<setting id="show_debug" type="bool" label="show_debug" default="false" />
    </category>
	<category label="חלון כתוביות">

		<setting id="subs_width" label="רוחב חלון" type="number" default="1140"/>
		<setting id="subs_hight" label="גובה חלון" type="number" default="360" />
		<setting id="subs_px" label="מיקום X" type="number" default="1" />
		<setting id="subs_py" label="מיקום Y" type="number" default="7" />
		
    </category>
</settings>
