<settings version="2">
    <setting id="OSuser2" default="true" />
    <setting id="OSpass2" default="true" />
    <setting id="get_subs" default="true" />
    <setting id="wizdom">true</setting>
    <setting id="ktuvit">true</setting>
    <setting id="subscene">true</setting>
    <setting id="opensubtitles">true</setting>
    <setting id="bsplayer">true</setting>
    <setting id="English">true</setting>
    <setting id="arab" default="true">false</setting>
    <setting id="spanish" default="true">false</setting>
    <setting id="other_lang" default="true" />
    <setting id="all_lang" default="true">false</setting>
    <setting id="auto_translate">true</setting>
    <setting id="translate_p">2</setting>
    <setting id="subtitle_trans_cache">15</setting>
    <setting id="time_s">15</setting>
    <setting id="label0" default="true" />
    <setting id="force">true</setting>
    <setting id="autosub">true</setting>
    <setting id="use_video_tagline_only_for_sort_subtitles" default="true">false</setting>
    <setting id="pause" default="true">false</setting>
    <setting id="ExcludeTime">1</setting>
    <setting id="ExcludeAddos" default="true" />
    <setting id="Debug" default="true">false</setting>
    <setting id="show_debug" default="true">false</setting>
    <setting id="subs_width">1140</setting>
    <setting id="subs_hight">360</setting>
    <setting id="subs_px">1</setting>
    <setting id="subs_py">7</setting>
    <setting id="fast_subs" default="true" />
    <setting id="man_search_return" default="true">&quot;\&quot;sub_window_unpause\&quot;&quot;</setting>
    <setting id="man_search_subs" default="true" />
</settings>
