<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="חשבונות">
		<setting label="32014" type="lsep" visible="false"/>
		<setting id="Email" label="32005" type="text" default="" visible="false"/>
		<setting id="Password" type="text" option = "hidden" label="32006" default="" visible="false"/>
		<setting type="sep"/>
		<setting type="action" label="32008" action="RunScript(service.subtitles.All_Subs_Flash, 1,action=login)" option="close" visible="false"/>
		<setting type="sep"/>
		<setting type="action" label="32003" action="RunScript(service.subtitles.All_Subs_Flash, 1,action=clean)" visible="false"/>
		<setting type="sep"/>
		<setting label="32013" type="lsep"/>
		<setting id="OSuser2" type="text" label="32011" default=""/>
		<setting id="OSpass2" type="text" option = "hidden" label="32012" default=""/>
		<setting label="אתר Ktuvit" type="lsep"/>
		<setting label="מאפשר משיכת כתוביות בעיצוב מוגדר מראש" type="lsep"/>
		<setting id="szcode" label="קוד צימוד (באיזור האישי)" type="text" default="" />
		<setting id="local_files" label="חפש כתוביות לתוכן מקומי" type="bool" default="false"/>
	</category>
	<category label="מקורות">
		<setting label="32015" type="lsep"/>
		<setting id="subscenter" label="Subscenter [COLOR blue](http://www.subscenter.org)[/COLOR]" type="bool" default="false" visible="false"/>
		<setting id="wizrad" label="Wizdom [COLOR blue](http://wizdom.xyz)[/COLOR]" type="bool" default="true" />
		<setting id="firstplace" label="Ktuvit [COLOR blue](https://www.ktuvit.me/)[/COLOR]" type="bool" default="true" />
		<setting id="subscene" label="Jeded_Subscene [COLOR blue](https://subscene.com/)[/COLOR]" type="bool" default="true" />
		<setting id="yify" label="Yify subtitles [COLOR blue](http://www.yifysubtitles.com/)[/COLOR]" type="bool" default="false" />
		<setting id="opensubtitle" label="Opensubtitle [COLOR blue](http://www.opensubtitles.org/he)[/COLOR]" type="bool" default="true" />
		<setting id="subscene" label="subscene [COLOR blue](http://subscene.com/)[/COLOR]" type="bool" default="true" />
		<setting id="aa_subs" label="aa_subs [COLOR blue](http://aa_subs.com/)[/COLOR]" type="bool" default="false" />
		<setting type="action" label="אפס AA קאש" action="RunScript(service.subtitles.All_Subs_Flash, 1,action=clear_aa)" option="close" visible="true"/>
		<setting id="storage_en" label="תקייה מקומית" type="bool" default="false" />
		<setting id="storage"  type="folder"   label="בחר תקיית כתוביות מקומית" default="" visible= "eq(-1,true)"/>
	</category>
	<category label="שפות">
		
		<setting id="English" label="אנגלית" type="bool" default="true" />
		
		<setting id="arab" label="ערבית" type="bool" default="false" />
		<setting id="spanish" label="ספרדית" type="bool" default="false" />


		<setting label="שפות נוספות" type="lsep"/>
		<setting id="other_lang" label="שפות נוספות" type="text" default="" />
		<setting label="הוסף שפות עם פסיק בניהם לפי תקן " type="lsep"/>
		<setting label="https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes" type="lsep"/>
		<setting id="all_lang" label="חפש בכל השפות" type="bool" default="false" />

		
		<setting label="32015" type="lsep"/>
		<setting id="auto_translate" label="תירגום מכונה אוטומטי ?" type="bool" default="true" />
		<setting id="translate_p" type="enum" label="מתרגם אוטומטי" values="Google|Yandex" default="0" visible= "eq(-1,true)" enable="eq(-1,true)"/>
		
	</category>
    <category label="הגדרות כלליות">
        
		<setting id="popup" label="32036" type="bool" default="true" />

		<setting id="nextsub" type="text" option = "hidden" visible= 'false' label="32012" default="no"/>
		
		<setting id="history_log" label="שמירת לוג כתוביות" type="bool" default="false" />
		
		
		<setting tfype="sep"/>
		<setting id="sort_subs" label="סדר כתוביות לפי אחוזים" type="bool" default="true" />
		<setting id="force" label="32034" type="bool" default="true" />
		<setting type="sep"/>
		
		<setting label="32016" type="lsep"/>
		<setting id="autosub" label="32017" type="bool" default="true" />
		<setting id="pause" label="32021" type="bool" default="false" />
		<setting id="ExcludeTime" type="number" label="32018" default="1"/> 
		<setting label="('tenil','reshet','kidsil','movix','mako','rss' Excluded)" type="lsep"/>
		<setting label="('sertil','jksp','multidown','sdarot','Ebs4_Kids_Tv' Excluded)" type="lsep"/>
		<setting id="ExcludeAddosOption" type="bool" label="32019" default="false" />
        <setting id="ExcludeAddos" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludeAddosOption2" type="bool" label="32019" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludeAddos2" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludeAddosOption3" type="bool" label="32019" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludeAddos3" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludeAddosOption4" type="bool" label="32019" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludeAddos4" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludeAddosOption5" type="bool" label="32019" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludeAddos5" type="text" source="video" label="32020" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
        <setting id="ExcludeAddosOption6" type="bool" label="לא הספיק לך? כאן תכניס כמה שאתה רוצה רק עם פסיק בניהם" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludeAddos6" type="text" source="video" label="אל תכלול הרחבות" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />


		<setting id="Debug" label="Debug" type="bool" default="false" />
		<setting id="show_debug" type="bool" label="show_debug" default="false" />
    </category>
	<category label="הגדרות מראה">
			<setting label="32022" type="lsep"/>
        <setting id="enable_font" label="32028" type="bool" default="false" />
        <setting id="background" label="32023" type="bool" default="false" visible= "eq(-1,true)" enable="eq(-1,true)"/>
		<setting id="bold" label="32024" type="bool" default="true" visible= "eq(-2,true)" enable="eq(-2,true)" />
        <setting id="size" type="number" label="32027" default="27" visible= "eq(-3,true)" enable="eq(-3,true)"/>
		<setting id="color" type="enum" label="32025" values="White|Blue|Red|Gray|Yellow" default="0" visible= "eq(-4,true)" enable="eq(-4,true)"/>
		<setting id="background_level" type="enum" label="32026" values="Bright|Gray|Dark" default="0" visible= "eq(-5,true)" enable="eq(-5,true)"/>
	</category>
</settings>
