<settings version="2">
    <setting id="jumpbacksecs" default="true">4</setting>
    <setting id="waitforjumpback">5</setting>
    <setting id="jumpbackonplaybackstarted">false</setting>
    <setting id="jumpbackonresume" default="true">true</setting>
    <setting id="jumpbacksecsfwdx2">0</setting>
    <setting id="jumpbacksecsfwdx4">0</setting>
    <setting id="jumpbacksecsfwdx8">0</setting>
    <setting id="jumpbacksecsfwdx16">0</setting>
    <setting id="jumpbacksecsfwdx32">0</setting>
    <setting id="jumpbacksecsrwdx2">0</setting>
    <setting id="jumpbacksecsrwdx4">0</setting>
    <setting id="jumpbacksecsrwdx8">0</setting>
    <setting id="jumpbacksecsrwdx16">0</setting>
    <setting id="jumpbacksecsrwdx32">0</setting>
    <setting id="ExcludeLiveTV">true</setting>
    <setting id="ExcludeHTTP" default="true">false</setting>
    <setting id="ExcludePathOption" default="true">false</setting>
    <setting id="ExcludePath" default="true" />
    <setting id="ExcludePathOption2" default="true">false</setting>
    <setting id="ExcludePath2" default="true" />
    <setting id="ExcludePathOption3" default="true">false</setting>
    <setting id="ExcludePath3" default="true" />
</settings>
