<settings version="2">
    <setting id="adaptivestream.type" default="true">default</setting>
    <setting id="adaptivestream.res.max" default="true">auto</setting>
    <setting id="adaptivestream.res.secure.max" default="true">auto</setting>
    <setting id="adaptivestream.bandwidth.init.auto" default="true">true</setting>
    <setting id="adaptivestream.bandwidth.init" default="true">4000</setting>
    <setting id="adaptivestream.bandwidth.min" default="true">0</setting>
    <setting id="adaptivestream.bandwidth.max" default="true">0</setting>
    <setting id="adaptivestream.streamselection.mode" default="true">manual-v</setting>
    <setting id="adaptivestream.test.mode" default="true">switch-segments</setting>
    <setting id="adaptivestream.test.segments" default="true">2</setting>
    <setting id="HDCPOVERRIDE" default="true">false</setting>
    <setting id="ASSUREDBUFFERDURATION" default="true">60</setting>
    <setting id="MAXBUFFERDURATION" default="true">120</setting>
    <setting id="MEDIATYPE" default="true">0</setting>
    <setting id="NOSECUREDECODER" default="true">false</setting>
    <setting id="DECRYPTERPATH" default="true">special://home/cdm</setting>
    <setting id="overrides.ignore.screen.res.change" default="true">false</setting>
    <setting id="overrides.ignore.screen.res" default="true">false</setting>
    <setting id="debug.save.manifest" default="true">false</setting>
    <setting id="debug.save.license" default="true">false</setting>
</settings>
