<settings version="2">
    <setting id="ktuvit">true</setting>
    <setting id="wizdom">true</setting>
    <setting id="opensubtitles">true</setting>
    <setting id="subscene">true</setting>
    <setting id="bsplayer">true</setting>
    <setting id="language_hebrew">true</setting>
    <setting id="language_english">true</setting>
    <setting id="language_russian" default="true">false</setting>
    <setting id="language_arab" default="true">false</setting>
    <setting id="auto_translate">true</setting>
    <setting id="translate_p" default="true">0</setting>
    <setting id="other_lang" default="true" />
    <setting id="all_lang">true</setting>
    <setting id="autosub">true</setting>
    <setting id="force">true</setting>
    <setting id="enable_autosub_notifications">true</setting>
    <setting id="auto_place_hebrew_embedded_subs">true</setting>
    <setting id="auto_fix_sub_punctuation">true</setting>
    <setting id="time_s">10</setting>
    <setting id="pause" default="true">false</setting>
    <setting id="ExcludedAddons" default="true" />
    <setting id="show_debug">true</setting>
    <setting id="write_heb_embedded_taglines_to_twilight_repo">true</setting>
    <setting id="clean_cache_on_startup" default="true">false</setting>
    <setting id="subtitle_trans_cache">15</setting>
    <setting id="dummy_setting" default="true" />
    <setting id="OS_USER_API_KEY_VALUE" default="true" />
    <setting id="subs_width">1190</setting>
    <setting id="subs_height">360</setting>
    <setting id="subs_px">1</setting>
    <setting id="subs_py">7</setting>
    <setting id="man_search_subs" default="true" />
    <setting id="fast_subs" default="true" />
</settings>
