<settings version="2">
    <setting id="filter.undesirables" default="true">true</setting>
    <setting id="undesirables.settings2" default="true" />
    <setting id="undesirables.settings3" default="true" />
    <setting id="undesirables.settings4" default="true" />
    <setting id="filter.foreign.single.audio" default="true">true</setting>
    <setting id="provider.1337x" default="true">false</setting>
    <setting id="provider.bitcq" default="true">false</setting>
    <setting id="provider.bitlord" default="true">false</setting>
    <setting id="provider.bitsearch" default="true">true</setting>
    <setting id="provider.ext" default="true">false</setting>
    <setting id="provider.eztv" default="true">true</setting>
    <setting id="provider.glodls">false</setting>
    <setting id="provider.isohunt2" default="true">false</setting>
    <setting id="provider.knaben">true</setting>
    <setting id="provider.kickass2" default="true">false</setting>
    <setting id="provider.limetorrents" default="true">false</setting>
    <setting id="provider.magnetdl" default="true">true</setting>
    <setting id="provider.nyaa">true</setting>
    <setting id="provider.piratebay">true</setting>
    <setting id="provider.rutor" default="true">true</setting>
    <setting id="provider.torlock" default="true">false</setting>
    <setting id="provider.torrentdownload" default="true">true</setting>
    <setting id="provider.torrentfunk" default="true">false</setting>
    <setting id="provider.torrentgalaxy" default="true">false</setting>
    <setting id="provider.torrentio" default="true">true</setting>
    <setting id="provider.torrentproject2" default="true">false</setting>
    <setting id="provider.yourbittorrent" default="true">false</setting>
    <setting id="provider.ytsmx" default="true">false</setting>
    <setting id="debug.enabled" default="true">false</setting>
    <setting id="debug.location" default="true">1</setting>
    <setting id="debug.reversed" default="true">false</setting>
</settings>
